name: Deploy Node Backend (Self-Hosted)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    env:
      CONTAINER_NAME: node-backend
      IMAGE_NAME: node-backend
      PORT: 3010
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      SUPER_ADMIN_EMAIL: ${{ secrets.SUPER_ADMIN_EMAIL }}
      SECRET_JWT: ${{secrets.SECRET_JWT}}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Stop and remove existing Docker container
      run: |
        docker stop $CONTAINER_NAME || true
        docker rm $CONTAINER_NAME || true

    - name: Build Docker image
      run: docker build -t $IMAGE_NAME .

    - name: Run Docker container
      run: |
        docker run -d \
          --name $CONTAINER_NAME \
          --restart unless-stopped \
          --network B3-ProjetEvent-net \
          -p $PORT:3000 \
          -e MONGODB_URI="$MONGODB_URI" \
          -e SUPER_ADMIN_EMAIL="$SUPER_ADMIN_EMAIL" \
          -e SECRET_JWT="$SECRET_JWT" \
          $IMAGE_NAME
